/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@syncfusion/ej2-base/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-calendars/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css';  
@import '../node_modules/@syncfusion/ej2-angular-grids/styles/material.css';

$white: #fff;
$black: #1a1a24;
$yellow-400: #ffe600;
$grey-600: #23232f;
$grey-550: #2e2e3c;
$grey-500: #2e2e38;
$grey-450: #3a3a4a;
$grey-400: #747480;
$grey-300: #c4c4cd;
$grey-250: #e1e1e6;
$grey-225: #e7e7ea;
$grey-200: #eaeaf2;
$grey-100: #f6f6fa;
// Secondary Colors
$green-700: #13652a;
$green-600: #168736;
$green-500: #189d3e;
$green-400: #2db757;
$green-300: #34c768;
$green-200: #57e188;
$green-100: #8ce8ad;
$teal-700: #004f4f;
$teal-600: #0d7575;
$teal-500: #109090;
$teal-400: #27acaa;
$teal-300: #42c9c2;
$teal-200: #60e6e1;
$teal-100: #93f0e6;
$blue-700: #082c65;
$blue-600: #155cb4;
$blue-500: #1777cf;
$blue-400: #188ce5;
$blue-300: #35a4e8;
$blue-200: #4ebeeb;
$blue-100: #87d3f2;
$purple-700: #15173e;
$purple-600: #0a095a;
$purple-500: #240d75;
$purple-400: #3d108a;
$purple-300: #542ea5;
$purple-200: #724bc3;
$purple-100: #9c82d4;
$maroon-700: #351c21;
$maroon-600: #42152d;
$maroon-500: #5a0a42;
$maroon-400: #750e5c;
$maroon-300: #922b73;
$maroon-200: #b14891;
$maroon-100: #c981b2;
$red-700: #7a130d;
$red-600: #b9251c;
$red-500: #e0362c;
$red-400: #ff4136;
$red-300: #f95d54;
$red-200: #ff736a;
$red-100: #ff9a91;
$orange-700: #bc2f00;
$orange-600: #eb4f00;
$orange-500: #f76900;
$orange-400: #ff6d00;
$orange-300: #ff810a;
$orange-200: #ff9831;
$orange-100: #ffb46a;

html, body { height: 100%; min-height: 100%;}
